.recipe-tile {
    width: 256px;
    height: 400px;

    margin: auto;
}

.recipe-tile-title {
    max-width: 256px;
    font-size: 24px;
    margin-top: 16px;
}

.recipe-tile-likes {
    font-size: 20px;
    display: inline;
}

.recipe-tile-like-image {
    position: relative;
    left: 5px;
    bottom: 5px;
}

.recipe-tile-author {
    font-size: 16px;
}